<p>
  The rate limit is <b>{{limit}}</b> requests per hour.
  You have <b>{{remaining}}</b> requests remaining.
</p>
{{#if limited}}
  <p>
    GitHub has <span class="alert">shut you down</span>.
    GitHub will be cool with you {{canUseWhen}}.
  </p>
{{/if}}
