{{> limiting}}

<p>Results for Repository Owner: <b>{{name}}</b></p>

{{#if results}}

  <ol>
  {{#each results}}
    <li>{{> result}}</li>
  {{/each}}
  </ol>

{{else}}
   <h3>Unknown Repo Owner</h3>
{{/if}}