{{> limiting}}

<p>Results for Repository Owner: <b id="repo-owner">{{name}}</b></p>

{{#if results}}

  <ol id="result-list">
  {{#each results}}
    <li>{{> result}}</li>
  {{/each}}
  </ol>

{{else}}

   <p id="unknown-owner">Unknown Repo Owner</p>

{{/if}}
